@{
    ViewData["Title"] = "Календарь";
}

<div class="row">
    <div class="col-md-6">
        <h2>Выберите день</h2>
        <div id="calendar"></div>
    </div>
    <div class="col-md-6">
        <h2>Выберите время</h2>
        <div class="container">
            <div id="times" class="row mb-2">

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @*ЗАПИСАТЬ КАЛЕНДАРЬ*@
}