@page
@model LockoutModel
@{
    ViewData["Title"] = "Отказ доступа";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Аккаунт заблокирован, возможно что-то пошло не так...</p>
</header>
